.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --main-color-text: #353430;
  --section-heading-color: #353430;
  --nav-color: #353430;
  --accent-text-color: #ff8dcb;
  --title-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  --bg-img: url(../images/cover-image-light.png);
}

.theme_light .header__theme-menu-button {
  color: var(--nav-color, #353430);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid var(--nav-color, #353430);
}

.theme_light .header__theme-menu-button:focus {
  border-block-end: 1px solid var(--nav-color, #353430);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--nav-color, #353430);
}

.theme_light .rec {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.theme_light .corner {
  border-block-start: 1px solid var(--section-heading-color, #353430);
  border-inline-end: 1px solid var(--section-heading-color, #353430);
}

.theme_light .heading {
  color: var(--header-logo-color, #ffc2e6);
}

.theme_light .corner_opposite {
  border-block-end: 1px solid var(--section-heading-color, #353430);
  border-inline-start: 1px solid var(--section-heading-color, #353430);
}

.theme_light .title {
  color: var(--title-color, #353430);
}

.theme_light .title-decor {
  color: var(--text-color, #353430);
}

.theme_light .text-shadow:focus {
  outline: none;
  border: 1px solid var(--main-color-text, #353430);
}

.theme_light .footer_title {
  color: var(--footer-logo-color, #ffc2e6);
}

.theme_light .corner_footer {
  border-block-start: 1px solid var(--section-heading-color, #353430);
  border-inline-end: 1px solid var(--section-heading-color, #353430);
}

.theme_light .corner_opposite_footer {
  border-block-end: 1px solid var(--section-heading-color, #353430);
  border-inline-start: 1px solid var(--section-heading-color, #353430);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --main-color-text: #353430;
    --section-heading-color: #353430;
    --nav-color: #353430;
    --accent-text-color: #ff8dcb;
    --title-color: #353430;
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
    --bg-img: url(../images/cover-image-light.png);
  }
}