/* 
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --main-font: 'IBM Plex mono';
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --main-color-text: #353430;
  --accent-text-color: #FF8DCB;
  --bg-img: url(../images/cover-image-light.png);
}

.header__theme-menu-button {
  color: var(--main-color-text, #353430);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--main-color-text, #353430);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--main-color-text, #353430);
} 

.theme_light .rec {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.theme_light .heading {
  color: #FFC2E6;
  text-shadow: 4px 4px 0px #FF0070;
}

.title-decor {
  color: var(--main-color-text, #353430);
} 

.theme_light .title {
  color: #353430;
}

.theme_light .text-shadow:focus {
  outline: none;
  border: 1px solid var(--main-color-text, #353430);
}

.theme_light .footer_title {
  color: #FFC2E6;
  text-shadow: 4px 4px 0px #FF0070;
}