:root {
  --main-font: "IBM Plex mono";
  --bg-color: #000028;
  --text-color: #000028;
  --main-color-text: #f1b2ce;
  --accent-text-color: #ff0070;
  --bg-img: url(../images/cover-image-dark.png);
}

.page {
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  margin: auto;
}

.header__theme-menu-list {
  position: absolute;
  right: 395px;
  top: 0px;
  display: flex;
  flex-direction: row;
  gap: 11px;
  list-style: none;
}

.header__theme-menu-item {
  background-color: transparent;
  border: none;
}

.header__theme-menu-button {
  padding-inline: 13px;
  padding-block: 3px;
  background-color: transparent;
  border: none;
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--accent-text-color, #ff0070);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-text-color, #ff0070);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--accent-text-color, #ff0070);
}

.header__theme-menu-button_active {
  border: 1px solid transparent;
  pointer-events: none;
}

.rec {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 16px;
  left: none;
  right: 25px;
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--accent-text-color, #ff0070);
  clip: inherit;
}

.circle {
  position: absolute;
  left: 66px;
  bottom: 12px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-text-color, #ff0070);
  box-shadow: 0px 0px 4px 3px rgba(255, 0, 112, 1);
  border-block-start: 1px solid var(--accent-text-color, #ff0070);
}

.corner {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 18px;
  border-block-start: 1px solid var(--accent-text-color, #ff0070);
  border-inline-end: 1px solid var(--accent-text-color, #ff0070);
}

.heading {
  margin-block-start: 285px;
  margin-block-end: 114px;
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(219, 0, 255, 1);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0 var(--accent-text-color, #ff0070);
}

.epigraph {
  position: absolute;
  top: 563px;
  right: 20px;
  max-width: 491px;
  margin: 0;
  word-spacing: 1px;
}

.corner_opposite {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  bottom: -718px;
  left: 20px;
  border-block-end: 1px solid var(--accent-text-color, #ff0070);
  border-inline-start: 1px solid var(--accent-text-color, #ff0070);
}

.title-decor {
  background-color: var(--accent-text-color, #ff0070);
  color: var(--text-color, #000028);
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-block: 0;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-inline-start: 20px;
}

.title {
  max-width: 315px;
  color: var(--accent-text-color, #ff0070);
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.paragraph {
  color: var(--main-color-text);
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-block: 10px;
}

.paragraph_content {
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
}

.text-shadow {
  padding: 0;
  text-decoration: none;
  color: var(--main-color-text);
  text-shadow: 2px 2px 0 var(---accent-text-color, #ff0070);
}

.text-shadow:hover {
  text-decoration: underline;
}

.text-shadow:focus {
  outline: none;
  border: 1px solid var(--accent-text-color, #ff0070);
}

.paragraph_thesis {
  padding-block-start: 250px;
}

.paragraph_thesis-text {
  max-width: 649px;
  margin-inline-end: 20px;
  margin-block-start: 15px;
}

.item:first-child {
  margin-block-end: 20px;
}

.paragraph_card {
  display: block;
  margin-block-start: 70px;
  margin-block-end: 55px;
}

.paragraph_card-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-inline-end: 20px;
  margin-block-start: 20px;
}

.card {
  min-width: 315px;
}

.paragraph_advice {
  margin-inline-end: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.paragraph_text-advice {
  max-width: 649px;
  margin-block-start: 15px;
  margin-inline-start: 0px;
}

.decision:first-of-type {
  margin-block-start: 20px;
}

.decision:not(:last-child) {
  margin-block-end: 20px;
}

.paragraph_pictures {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin-block-start: 70px;
  margin-inline-end: 20px;
}

.image {
  object-position: center;
  object-fit: cover;
}

.image:first-child {
  grid-area: sunset;
  max-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.image:nth-child(2) {
  grid-area: ice-cream;
  max-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.image:nth-child(3) {
  grid-area: tape;
  max-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.image:nth-child(4) {
  grid-area: books;
  max-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.image:last-child {
  grid-area: street;
  max-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.paragraph_content-pictures {
  display: grid;
  grid-template-columns: (3, minmax(229px, 315px));
  grid-template-rows: (3, minmax(192px, 260px) minmax(230px, 315px) minmax(318px, 428px));
  grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  gap: 20px;
  margin: 0;
}

.footer {
  position: relative;
}

.footer_title {
  margin-block-start: 379px;
  margin-block-end: 320px;
  display: flex;
  justify-content: center;
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
  font-size: 157px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(219, 0, 255, 1);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0 var(--accent-text-color, #ff0070);
}

.corner_footer {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 405px;
  right: 18px;
  border-block-start: 1px solid var(--accent-text-color, #ff0070);
  border-inline-end: 1px solid var(--accent-text-color, #ff0070);
}

.corner_opposite_footer {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 403px;
  left: 21px;
  border-block-end: 1px solid var(--accent-text-color, #ff0070);
  border-inline-start: 1px solid var(--accent-text-color, #ff0070);
}

@media (width <= 768px) {
  .header__theme-menu-list {
      right: 20px;
      top: 170px;
      flex-direction: column;
      gap: 11px;
  }

  .heading {
      margin-block-start: 415px;
  }

  .epigraph {
      top: 720px;
      max-width: 364px;
  }

  .corner_opposite {
      top: 970px;
  }

  .paragraph_thesis {
      padding-block-start: 375px;
  }

  .paragraph_thesis-text {
      max-width: 472px;
  }

  .title {
      word-wrap: break-word;
  }

  .themes_card {
      max-width: 236px;
  }

  .paragraph_card {
      margin-block-end: 55px;
  }

  .paragraph_card-text {
      flex-direction: column;
      gap: 10px;
  }

  .paragraph_text-advice {
      max-width: 472px;
  }

  .corner_footer {
      bottom: 533px;
      right: 20px;
  }

  .footer_title {
      margin-block-start: 510px;
  }

  .corner_opposite_footer {
      top: 528px;
      left: 20px;
  }
}

@media (width <= 375px) {
  .header__theme-menu-list {
      right: 9px;
      top: 58px;
      flex-direction: column;
      gap: 11px;
  }

  .rec {
      top: 10px;
      right: 15px;
  }

  .heading {
      margin-inline-start: 10px;
      margin-block-start: 210px;
      font-size: 116px;
      line-height: 96px;
  }

  .epigraph {
      left: 10px;
      right: 0;
      top: 485px;
      max-width: 355px;
  }

  .corner {
      top: 10px;
      right: 10px;
  }

  .corner_opposite {
      top: 632px;
      left: 10px;
  }

  .section {
      flex-direction: column;
      margin-inline-start: 10px;
      max-width: 380px;
  }

  .title {
      margin-inline-end: -10px;
      max-width: 355px;
  }

  .paragraph_thesis {
      padding-block-start: 148px;
  }

  .paragraph_content {
      margin-inline-end: 10px;
  }

  .paragraph_thesis-text {
      margin-block-start: -15px;
  }

  .paragraph_card {
      margin-block-start: 40px;
      margin-block-end: 25px;
  }

  .paragraph_advice {
      margin-inline-end: 0px;
  }

  .paragraph_text-advice {
      margin-block-start: -5px;
  }

  .paragraph_pictures {
      margin-block-start: 40px;
      margin-inline-end: 10px;
  }

  .paragraph_content-pictures {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-block-start: -10px;
      margin-inline-end: 0px;
  }

  .corner_footer {
      bottom: 365px;
      right: 10px;
  }

  .footer_title {
      margin-block-start: 310px;
      letter-spacing: -3px;
  }

  .corner_opposite_footer {
      top: 360px;
      left: 10px;
  }
}

@media (width > 1024px) {
  .header__theme-menu-list {
      position: inherit;
      flex-direction: row;
      justify-content: center;
      gap: 11px;
  }
}
