@media (prefers-color-scheme: dark) {
  :root {
    --main-font: 'IBM Plex mono';
    --bg-color: #000028;;
    --text-color: #000028;
    --main-color-text: #F1B2CE;
    --accent-text-color: #FF0070;
    --bg-img: url(../images/cover-image-dark.png);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex mono';
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --main-color-text: #353430;
    --accent-text-color: #FF8DCB;
    --bg-img: url(../images/cover-image-light.png);
  }
}